.table-container {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $table-font-size;
  margin: 0 0 20px 0;
  width: 100%;
}

tbody tr {
  &:nth-of-type(odd) {
    background: var(--table-row-odd-bg-color);
  }

  &:hover {
    background: var(--table-row-hover-bg-color);
  }
}

caption, th, td {
  font-weight: normal;
  padding: 8px;
  vertical-align: middle;
}

th, td {
  border: 1px solid $table-border-color;
  border-bottom: 3px solid $table-cell-border-bottom-color;
}

th {
  font-weight: 700;
  padding-bottom: 10px;
}

td {
  border-bottom-width: 1px;
}


.website-collect {
  thead tr {
     background: var(--table-row-odd-bg-color);
  }
  tbody tr {
    &:nth-of-type(odd) {
      background: var(--table-row-odd-bg-color);
    }

    &:nth-of-type(even) {
      background: var(--table-row-odd-bg-color);
    }

    &:hover {
      background: var(--table-row-odd-bg-color);
    }
  }

  th, td {
    font-weight: normal;
    border: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    text-decoration: none;
    border-bottom: 0;
    min-width: 130px;
  }

  th a, td a{
    text-decoration: none;
    color: #1373cc;
    border-bottom: 0;
  }

  ul{
    padding-left: 16px;
  }
}